table {
  width: 100%;
}

.group-detail {
  overflow: hidden;
  display: flex;
}

.group-description {
  width: 100%;

  mat-card {
    margin: 20px 30px;
    padding: 20px;

    h6 {
      font-weight: 500;
      font-size: 20px;
    }

    .group-members {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
    }
  }
}


mat-paginator{
  margin-top: 3rem;
}
