<div class="sidenav-content-card">
  <mat-card class="form-card ">
    <mat-card-title>
      <h6>Create Application</h6>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="applicationForm" (ngSubmit)="onCreateApplication()">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Application Name</mat-label>
          <input matInput formControlName="applicationName">
          <mat-error *ngIf="applicationForm.get('applicationName')?.hasError('required')">
            Application Name is required
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Access Control Model</mat-label>
          <input matInput formControlName="accessControlModel">
          <mat-error *ngIf="applicationForm.get('accessControlModel')?.hasError('required')">
            Access Control Model is required
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Policy</mat-label>
          <textarea matInput formControlName="policy"></textarea>
          <mat-error *ngIf="applicationForm.get('policy')?.hasError('required')">
            Policy is required
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Others</mat-label>
          <textarea matInput formControlName="others" rows="5"></textarea>
          <mat-error *ngIf="applicationForm.get('others')?.hasError('required')">
            Others is required
          </mat-error>
        </mat-form-field>

        <div class="button-group">
          <button type="button" mat-raised-button color="warn" type="rest" (click)="onReset()">Reset</button>
          <button mat-raised-button color="accent" type="submit" [disabled]="!applicationForm.valid">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
