<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button  (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Resources Application</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav (mouseleave)="snav.close()" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        @for (nav of sideNavLinks; track nav) {
        <mat-list-item [routerLink]="nav.link">
          <mat-icon matListItemIcon>{{nav.iconName}}</mat-icon>
          <a matListItemTitle>{{nav.label}}</a>
        </mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
